
.imgB {
  height: 400px;
  width: 900px;
  padding: 10px;
  border: 20px groove yellow;
  border-radius: 10px;
}

.imgS {
  height: 100px;
  width: 160px;
  border: 10px groove black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px black inset;
}

