/*  
border-collapse: collapse;


This will used to collapse the border
*/

table, th, td {
  border: 2px solid rgb(0, 0, 0);
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.737);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: .5rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  /* border-collapse: separate; */
}