/* 
box-shadow
============
This property is used to attach one or more shadows to an element.

Syntax-

box-shadow: h-shadow v-shadow blur-amount spread color inset;


Note:- 
--------
h-shadow - The position of horizontal shadow. Negative values are allowed.
v-shadow - The position of vertical shadow. Negative values are allowed.
blur - It specify the blur amount
spread - Size of shadow | spreading area. Negative values are allowed.
color - It specify the color of the shadow
none - No shadow, Default
shadow-direction(inset | outset) - It specify the box-shadow direction means shadow should be inside or outside (default) of the box.

Ex: 
div { box-shadow: 2px 2px 5px red; }
div { box-shadow: 2px 2px 5px red, 5px 5px 8px blue, 5px 5px 8px blue inset; }

*/



.headning h2 {
  font-size: 20px;
  color: blue;
}

.box {
  margin: 50px auto;
  height: 300px;
  width: 300px;
  background-color: aqua;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.518);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.box p {
  height: 70px;
  width: 70px;
  background-color: blueviolet;
  box-shadow: 2px 2px 5px red, 5px 5px 8px blue;

  border-radius: 5px;

  /* text-align: center;
  line-height: 80px; */
  display: flex;
  align-items: center;
  justify-content: center;
}