*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.gallary {
  height: 100vh;
  width: 100%;
  background-color: mediumslateblue;
}

section .row {
  /* height: 50%; */
  background-color: lightpink;
}

.top-summary {
  height: 100px;
  background-color: lightseagreen;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 96px 16px; */
}
.top-summary p {
  color: #fff;
  padding: 1vw;
  text-align: justify;
}

/* top-image */
.top {
  padding: 50px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top .main-image {
  height: 400px;
  width: 600px;
  padding: 16px;
  background-color: #fafafa;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.top img.main-image {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  /* background-color: red; */
  object-fit: cover;
}
.bottom {
  height: 400px;
  padding: 2vw 2vw;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 50px;

  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.bottom img {
  height: 140px;
  width: 180px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: aliceblue;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.3);
  object-fit: cover;
}
.bottom img:hover {
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  scale: 1.1;
}
.bottom img {
  border-radius: 20px;
}

